<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie Search</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://kit.fontawesome.com/067bd4d624.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id='content'>
        <div id="head">
            <div id='container'>
                <p id="title">Movie Search App</p>
                <form action="/results" method="get">
                    <button id="schbt"><i class="fas fa-search"></i></button>
                    <input id="schbx" name='search' type="text" placeholder="movie name">
                </form>
            </div>
        </div>