<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie Search</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div id="head">
        <div id='container'>
            <p id="title">Movie Search App</p>
            <form action=""></form>
            <button id="schbt">Search</button>
            <input id="schbx" type="text">
        </div>
    </div>

    <div id="schContainer">

    </div>
</body>

</html>